@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    min-width: 10%;
    max-width: 100%;
}

header {
    width: 2000px;
    height: 400px;
    background-image: url(imagens/wallpaper.jpg);
}

header > p {
    text-align: center;
}
